.post-caption {
  .author-block {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    img {
      border-radius: 50%;
    }
    .author-name {
      font-size: 0.85rem;
      line-height: 1.45;
      padding: 0 10px;
      span {
        display: block;
      }
    }
  }
}

.blog-featured {
  width: 100%;
  height: auto;
  border-radius: 6px;
  box-shadow: 0 15px 26px rgba(0, 0, 0, 0.4);
}
.post-body {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  hyphens: auto;
  .intro {
    font-style: italic;
    font-family: "Cabin", sans-serif;
    color: $white;
    opacity: 0.8;
  }
}

.ar-typo {
  text-align: center;
}

.ar-typo:not(:first-child) {
  margin-top: 1rem;
}

.ar-breadcrumb {
  display: flex;
  justify-content: space-between;
}

.ar-main {
  position: relative;
}

.ar-side {
  position: relative;
}

.ar-side-background {
  bottom: 0;
  left: 50%;
  position: absolute;
  right: 0;
  top: 0;
}

.ar-anchors-reference {
  height: 1px;
}

.ar-anchors {
  display: none;
  max-width: 10.5rem;
  padding-top: calc(1.5rem - 1px);
}

@media screen and (min-width: 769px), print {
  .ar-anchors.is-active {
    display: block;
  }
}

.ar-anchors-title {
  color: #b5b5b5;
  font-size: 0.875rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.ar-anchors-list a {
  color: #363636;
}

.ar-anchor-title {
  padding-top: 1.5rem;
  position: relative;
}

@media screen and (max-width: 1215px) {
  .ar-anchor-title {
    padding-left: 2rem;
  }
}

.ar-anchor-link {
  position: absolute;
  right: calc(100% + 1rem);
  top: 1.5rem;
}

@media screen and (max-width: 1215px) {
  .ar-anchor-link {
    left: 0;
    right: auto;
  }
}

.ar-anchors-list,
.ar-category-list {
  font-size: 0.875rem;
}

.ar-anchors-list li:not(:last-child),
.ar-category-list li:not(:last-child) {
  margin-bottom: 0.5em;
}

.ar-anchors-list li.is-past a,
.ar-category-list li.is-past a {
  color: #b5b5b5;
}

.ar-anchors-list li.is-current a,
.ar-category-list li.is-current a {
  color: #3273dc;
}

.ar-anchors-list a,
.ar-category-list a {
  color: #7a7a7a;
}

.ar-anchors-list a:hover,
.ar-category-list a:hover {
  color: #3273dc;
}

@media screen and (max-width: 1023px) {
  .ar-lead,
  .ar-side {
    padding: 1.5rem;
  }

  .ar-header-carbon {
    margin-top: 1.5rem;
  }
}

@media screen and (max-width: 1023px) {
  .ar-side-background {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .ar-duo {
    display: flex;
  }

  .ar-lead {
    overflow: hidden;
    flex-grow: 1;
    flex-shrink: 1;
  }

  .ar-prev-next {
    display: flex;
  }

  .ar-side {
    flex: 0 0 calc(10.5rem + 1.5rem);
  }
}

@media screen and (min-width: 1024px) {
  .ar-main {
    padding: 0 3rem;
  }

  .ar-lead {
    margin-left: -3rem;
    padding: 3rem;
  }

  .ar-lead:last-child {
    margin-right: -3rem;
  }

  .ar-header {
    align-items: center;
    display: flex;
    min-height: 140px;
  }

  .ar-header-titles {
    flex-grow: 1;
    flex-shrink: 1;
  }

  .ar-header-carbon {
    flex-grow: 0;
    flex-shrink: 0;
    margin: -15px 0 -15px 6rem;
    width: 300px;
  }

  .ar-side {
    padding: 3rem 0 3rem 1.5rem;
  }
}

.ar-snippet-preview {
  padding: 1.5rem;
  border: 2px solid #f5f5f5;
}

.ar-webmention-avatars {
  display: inline-flex;
  flex-direction: row-reverse;
}

.ar-webmention-avatar {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  width: 32px;
}

.ar-webmention-avatar:not(:last-child) {
  margin-left: -10px;
}

.ar-webmention-avatar img {
  width: 100%;
  display: block;
}

.ar-subtitle {
  color: $text-light;
}

.node .label {
  font-weight: 400;
  line-height: 1;
}
