/*! _blog.scss | Krypton | Kit 1 | CSS Ninja */

/* ==========================================================================
Blog Posts
========================================================================== */

/***
TABLE OF CONTENTS
=============================================================================
0. Landing page blog posts
=============================================================================
***/

/* ==========================================================================
0. Landing page blog posts
========================================================================== */

//Post item
.blog-post {
  //featured image
  img {
    display: block;
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
  .featured-image {
    width: 35%;
    object-fit: cover;
    margin-right: 50px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 15px 26px rgba(0, 0, 0, 0.4);
  }
  //Link style
  a {
    display: flex;
    padding: 50px;
    overflow: hidden;
    align-items: center;
    max-width: 1000px;
    margin: auto;
    color: #333;
    // font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    border-radius: 6px;
    margin-bottom: 20px;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    &:hover {
      box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.2);
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
  }
  //Content
  .content {
    width: 65%;
    //Post title
    .post-title {
      font-size: 1.2rem;
      text-transform: capitalize;
      // color:$white;
      font-weight: 500;
      // font-family: 'Cabin', sans-serif;
      //Date
      .blog-date {
        font-size: 12px;
        margin-left: 20px;
        // color: $white;
        // font-family: 'Cabin', sans-serif;
        &:before {
          content: "|";
          color: #2bb673;
          font-size: 25px;
          top: auto;
          position: relative;
          margin-right: 10px;
        }
      }
    }
    //Separator
    .rounded {
      margin-left: 0;
      margin-top: 5px;
      margin-bottom: 5px;
      width: 70px;
      height: 3px;
      border-radius: 6px;
      background-image: linear-gradient(to right, #25aae1, #40e495);
      margin-left: 0;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    //Post meta
    .post-meta {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      //Author
      .author-block {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        img {
          border-radius: 50%;
        }
        .author-name {
          font-size: 0.75rem;
          // font-family: 'Cabin', sans-serif;
          // color: $white;
          padding: 0 10px;
          span {
            display: block;
            &:nth-child(2) {
              color: $primary-accent !important;
              small {
                color: $light-blue !important;
              }
            }
          }
        }
      }
      //Comments and likes count
      .stats-block {
        margin-left: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .comments,
        .likes {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin: 0 5px;
          svg {
            width: 16px;
            height: 16px;
            stroke: $white;
            stroke-width: 1.4px;
            cursor: pointer;
            transition: all 0.3s;
          }
          span {
            color: $white;
            padding: 0 2px;
            font-size: 0.75rem;
          }
        }
        .likes {
          svg {
            fill: $red;
            stroke: $red;
          }
        }
      }
    }
  }
  p {
    color: $muted-grey;
    font-size: 0.9rem;
  }
}

//
.post-caption {
  .author-block {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    img {
      border-radius: 50%;
    }
    .author-name {
      font-size: 0.85rem;
      // font-family: 'Cabin', sans-serif;
      // color: $white;
      padding: 0 10px;
      span {
        display: block;
        &:nth-child(2) {
          color: $chosen-dark-grey;
          small {
            // color: $white !important;
          }
        }
      }
    }
  }
}

//Specific Media queries for blog posts
@media screen and (max-width: 768px) {
  .blog-post {
    width: 92%;
    margin: auto;
    a {
      display: block;
      padding: 10px;
    }
    .content {
      width: 100%;
      margin-top: 35px;
      .post-title {
        font-size: 18px;
        .blog-date {
          margin: 0;
        }
      }
    }
    .featured-image {
      width: 100%;
      img {
        width: 100%;
        height: 150px;
        object-fit: cover;
      }
    }
  }
}

//Post item
.card-post {
  width: 92%;
  margin: auto;
  //featured image
  img {
    display: block;
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
  .featured-image {
    // width: 35%;
    width: 100%;
    object-fit: cover;
    margin-right: 50px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 15px 26px rgba(0, 0, 0, 0.4);
    img {
      width: 100%;
      height: 150px;
      object-fit: cover;
    }
  }
  //Link style
  a {
    display: block;
    padding: 10px;
    overflow: hidden;
    align-items: center;
    max-width: 1000px;
    margin: auto;
    color: #333;
    // font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    border-radius: 6px;
    margin-bottom: 20px;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    &:hover {
      box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.2);
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
  }
  //Content
  .content {
    // width: 65%;
    width: 100%;
    margin-top: 35px;
    //Post title
    .post-title {
      font-size: 18px;
      text-transform: capitalize;
      // color:$white;
      font-weight: 500;
      // font-family: 'Cabin', sans-serif;
      //Date
      .blog-date {
        font-size: 12px;
        margin: 0;
        // color: $white;
        // font-family: 'Cabin', sans-serif;
        &:before {
          content: "|";
          color: #2bb673;
          font-size: 25px;
          top: auto;
          position: relative;
          margin-right: 10px;
        }
      }
    }
    //Separator
    .rounded {
      margin-left: 0;
      margin-top: 5px;
      margin-bottom: 5px;
      width: 70px;
      height: 3px;
      border-radius: 6px;
      background-image: linear-gradient(to right, #25aae1, #40e495);
      margin-left: 0;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    //Post meta
    .post-meta {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      //Author
      .author-block {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        img {
          border-radius: 50%;
        }
        .author-name {
          font-size: 0.75rem;
          // font-family: 'Cabin', sans-serif;
          // color: $white;
          padding: 0 10px;
          span {
            display: block;
            &:nth-child(2) {
              color: $primary-accent !important;
              small {
                color: $light-blue !important;
              }
            }
          }
        }
      }
      //Comments and likes count
      .stats-block {
        margin-left: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .comments,
        .likes {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin: 0 5px;
          svg {
            width: 16px;
            height: 16px;
            stroke: $white;
            stroke-width: 1.4px;
            cursor: pointer;
            transition: all 0.3s;
          }
          span {
            color: $white;
            padding: 0 2px;
            font-size: 0.75rem;
          }
        }
        .likes {
          svg {
            fill: $red;
            stroke: $red;
          }
        }
      }
    }
  }
  p {
    color: $muted-grey;
    font-size: 0.9rem;
  }
}

.blog-post-wrapper {
  .blog-image img {
    height: 550px;
  }

  .search-widget {
    margin: 20px;
    .control-material {
      input {
        padding-right: 40px;
      }
      input:focus {
        ~ svg {
          transform: translateX(0) rotate(0);
          opacity: 1;
        }
      }
    }
    svg {
      position: absolute;
      right: 10px;
      top: 12px;
      stroke: $secondary;
      transition: all 0.3s;
      transform: translateX(60px) rotate(360deg);
      opacity: 0;
    }
  }

  .categories-widget {
    margin-bottom: 20px;
    .widget-title {
      font-family: "Cabin", sans-serif;
      font-size: 1.1rem;
      text-transform: uppercase;
      color: $light-blue;
      padding: 0 20px;
    }
    .categories-list {
      padding: 20px 0;
      li {
        padding: 10px 20px;
        a {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-family: "Cabin", sans-serif;
          font-size: 0.95rem;
          color: $white;
          opacity: 0.6;
          border-radius: 3px;
          transition: all 0.3s;
          span {
            display: block;
            &.tag {
              display: flex;
              justify-content: center;
              align-items: center;
              color: $secondary;
              background: transparent;
              border: 1px solid $secondary;
            }
          }
          &:hover,
          &.is-active {
            opacity: 1;
            color: $light-blue;
          }
        }
      }
    }
  }

  .tags-widget {
    margin-bottom: 20px;
    .widget-title {
      font-family: "Cabin", sans-serif;
      font-size: 1.1rem;
      text-transform: uppercase;
      color: $light-blue;
      padding: 0 20px;
    }
    .tags {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 20px;
      .tag {
        margin: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $primary;
        background: transparent;
        border: 1px solid $primary;
      }
    }
  }

  .archives-widget {
    margin-bottom: 20px;
    .widget-title {
      font-family: "Cabin", sans-serif;
      font-size: 1.1rem;
      text-transform: uppercase;
      color: $light-blue;
      padding: 0 20px;
    }
    .select {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 100%;
      height: 40px;
      margin: 20px;
    }

    .option {
      font-size: 0.9rem;
      font-family: "Cabin", sans-serif;
      font-weight: 300 !important;
      padding: 0 30px 0 10px;
      min-height: 40px;
      display: flex;
      align-items: center;
      background: #1c004c;
      color: $white;
      border-top: 1px solid lighten(#1c004c, 5%);
      position: absolute;
      top: 0;
      width: 100%;
      pointer-events: none;
      order: 2;
      z-index: 1;
      transition: background 0.4s ease-in-out;
      box-sizing: border-box;
      overflow: hidden;
      white-space: nowrap;
      cursor: pointer;
    }

    .option:hover {
      background: lighten(#1c004c, 2%);
    }

    .select:focus .option {
      position: relative;
      pointer-events: all;
    }

    input {
      opacity: 0;
      position: absolute;
      left: -99999px;
    }

    input:checked + label {
      order: 1;
      z-index: 2;
      background: #1c004c;
      border-top: none;
      position: relative;
    }

    input:checked + label:before {
      position: absolute;
      right: 0;
      height: 40px;
      width: 40px;
      content: "";
      background: #1c004c;
    }
  }

  .posts-widget {
    margin-top: 40px;
    margin-bottom: 20px;
    .widget-title {
      font-family: "Cabin", sans-serif;
      font-size: 1.1rem;
      text-transform: uppercase;
      color: $light-blue;
      padding: 0 20px;
    }
    .recent-posts {
      padding: 20px;
      .recent-post {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 20px;
        font-family: "Cabin", sans-serif;
        img {
          height: 32px;
          width: 32px;
          border-radius: 50%;
        }
        .meta {
          padding: 0 10px;
          a {
            display: block;
            color: $white;
            font-size: 0.85rem;
            transition: all 0.3s;
            &:hover {
              color: $light-blue;
            }
          }
          span {
            display: block;
            font-size: 0.65rem;
            color: $white;
            opacity: 0.8;
          }
        }
      }
    }
  }
  //Single post
  .blog-featured {
    width: 100%;
    height: auto;
    border-radius: 6px;
    box-shadow: 0 15px 26px rgba(0, 0, 0, 0.4);
  }
  .post-body {
    .intro {
      font-style: italic;
      font-family: "Cabin", sans-serif;
      color: $white;
      opacity: 0.8;
    }
    h2 {
      // font-family: 'Cabin', sans-serif;
      font-size: 1.5rem;
      // color: $white;
      padding: 10px 0;
    }
    blockquote {
      padding: 0 20px;
    //   font-size: 1.2em;
      font-style: italic;
      color: #555555;
      border-left: 8px solid #78c0a8;
      line-height: 1.6;
      position: relative;
      background: #ededed;
      p {
        margin-bottom:0;
      }
    }
    hr {
      opacity: 0.3;
    }
    
  }
  .comments {
    padding: 0 60px;
    .comments-heading {
      font-size: 1.2rem;
      color: $light-blue;
      text-align: center;
    }
    .comments-list {
      padding: 60px 40px;
      .is-comment {
        border-top: none !important;
        img {
          display: block;
          border-radius: 50%;
        }
        .user-meta {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          span,
          small {
            display: block;
          }
          span {
            font-size: 0.9rem;
            font-family: "Cabin", sans-serif;
            color: $light-blue;
          }
          small {
            font-family: "Cabin", sans-serif;
            font-size: 0.8rem;
            color: $light-blue;
            opacity: 0.7;
            margin: 0 20px;
          }
        }
        p {
          font-family: "Cabin", sans-serif;
          font-size: 0.9rem;
          color: $white;
          opacity: 0.7;
        }
        .post-controls {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          padding: 10px 0;
          svg {
            width: 16px;
            height: 16px;
            margin: 0 5px;
            stroke: $white;
            stroke-width: 1.6px;
            transition: all 0.3s;
            cursor: pointer;
            opacity: 0.5;
            &:hover {
              stroke: $secondary;
              opacity: 1;
            }
          }
        }
      }
      .is-form {
        margin-top: 60px;
        display: flex;
        justify-content: flex-start;
        img {
          height: 50px;
          width: 50px;
          border-radius: 50%;
        }
        .control {
          width: 100%;
          margin: 0 10px;
          label {
            color: $light-blue;
          }
          .textarea {
            width: 100%;
            background: rgba(17, 149, 247, 0.08);
            border: 1px solid rgba(0, 83, 251, 0.5);
            color: $white;
            font-size: 0.9rem;
            transition: all 0.3s;
          }
        }
      }
      .comment-controls {
        margin: 10px;
      }
    }
  }
}

// Link to GitHub
.bd-typo {
  text-align: center
}

.bd-typo:not(:first-child) {
  margin-top: 3rem
}