.ar-footer {
  background: #0f0330;
  position: relative;
  .summary p {
    color: #798499;
  }
  .brand {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    line-height: 1;
  }

  .brand .brand-icon {
    width: 56px;
    height: 56px;
    margin-right: 1rem;
    transition-duration: 172ms;
    will-change: width, height, margin-right;
  }

  .brand .brand-icon img {
    display: block;
    max-width: 100%;
    max-height: 100%;
  }

  .brand .brand-title {
    font-size: 1.25rem;
    font-weight: 500;
    transition-duration: 172ms;
    will-change: transform;
  }

  .brand .brand-subtitle {
    margin-top: 0.25rem;
    font-size: 1.125rem;
    font-weight: normal;
    color: #998da0;
    opacity: 1;
    transition-duration: 172ms;
    will-change: opacity, transform;
  }
  .spacer.is-1 {
    height: 1rem;
  }
  .menu {
    font-size: 1rem;
  }

  .menu.is-small {
    font-size: 0.75rem;
  }

  .menu.is-medium {
    font-size: 1.25rem;
  }

  .menu.is-large {
    font-size: 1.5rem;
  }

  .menu-list {
    line-height: 1.25;
  }

  .menu-list a {
    border-radius: 10px;
    color: #998da0;
    display: block;
    padding: 0.5em 0.75em;
  }

  .menu-list .has-margin {
    margin-left: 0.75em;
  }

  .menu-list a:hover {
    background-color: #0f0330;
    color: #d0d4db;
  }

  .menu-list a.is-active {
    background-color: #998da0;
    color: #fff;
  }

  .menu-list li ul {
    border-left: 1px solid #dbdbdb;
    margin: 0.75em;
    padding-left: 0.75em;
  }

  .menu-label {
    color: #463853;
    font-size: 0.75em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

  .menu-label:not(:first-child) {
    margin-top: 1em;
  }

  .menu-label:not(:last-child) {
    margin-bottom: 1em;
  }

  .menu-label {
    font-size: 1.375rem;
    font-weight: 500;
    text-transform: none;
    letter-spacing: 0;
  }

  .menu-label:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  .menu-list {
    margin-left: -0.75rem;
    font-size: 1.125rem;
  }

  .menu-list .tag {
    position: relative;
    top: -10px;
    left: -4px;
  }

  .menu-list img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 1rem;
    height: 2rem;
    width: 2rem;
  }
  //Footer logo
  .footer-logo {
    img {
      height: 75px;
    }
    //Brand
    .brand-name {
      text-transform: uppercase;
      font-weight: 600;
      color: $white;
      padding: 5px 0;
      font-size: 1.4rem;
      letter-spacing: 3px;
    }
    //Motto
    .brand-subtitle {
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 0.65rem;
      color: $primary;
    }
  }

  //Copyright section
  .k-copyright {
    position: relative;
    color: $primary;
    font-size: 0.85rem;
    z-index: 2;
  }
  //Coded by section
  .coded-by {
    position: relative;
    color: $white;
    font-size: 0.7rem;
    z-index: 2;
    a {
      color: $secondary;
    }
  }
}
