//Js particles
#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.hero-avatar {
  height: 250px !important;
  width: 250px !important;
  vertical-align: middle;
}

.hero-wrapper {
  position: relative;
}
