.ar-story {
  a {
    color: #333;
  }
  p {
    color: #999;
    font-size: 0.9rem;
  }
  .post-title {
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: 500;
  }
  transition: all 0.3s ease;
}

.ar-story:hover {
  opacity: 1;
  box-shadow: 0 15px 45px -5px rgba(7, 10, 25, 0.25);
  -webkit-filter: brightness(1.07);
  filter: brightness(1.07);
  transform: translate(0, -2px);
}
