/* .center-image {
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
}

.img-bg {
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
}

.show {
  display: block;
} */

.content .tag, .content .number, .content .token {
  display: inline;
  padding: inherit;
  font-size: inherit;
  line-height: inherit;
  text-align: inherit;
  vertical-align: inherit;
  border-radius: inherit;
  font-weight: inherit;
  white-space: inherit;
  background: inherit;
  margin: inherit;
}