// ----
// libsass (v3.5.4)
// ----

$spacer: 1rem !default;
$marginKey: 'm';
$paddingKey: 'p';
$separator: '-';

$sizes: (
  ('0', 0),
  ('1', $spacer * .25),
  ('2', $spacer * .5),
  ('3', $spacer),
  ('4', $spacer * 1.5),
  ('5', $spacer * 3)
);

$positions: (
  ('t', 'top'),
  ('r', 'right'),
  ('b', 'bottom'),
  ('l', 'left')
);

// These breakpoint variables are found in
// ~/node_modules/bulma/sass/utilities/initial-variables.scss
$gap: 64px;
// 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
$tablet: 769px;
// 960px container + 4rem
$desktop: 960px + (2 * $gap);
// 1152px container + 4rem
$widescreen: 1152px + (2 * $gap);
$widescreen-enabled: true;
// 1344px container + 4rem
$fullhd: 1344px + (2 * $gap);
$fullhd-enabled: true;

$grid-breakpoints: (
  ('sm', '576px'),
  ('md', $tablet),
  ('lg', $desktop),
  ('xl', $widescreen)
);

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.px-auto {
  padding-left: auto;
  padding-right: auto;
}

@each $size in $sizes {
  $sizeKey: nth($size, 1);
  $sizeValue: nth($size, 2);
  
  .#{$marginKey}#{$separator}#{$sizeKey} {
    margin: $sizeValue;
  }
  
  .#{$paddingKey}#{$separator}#{$sizeKey} {
    padding: $sizeValue;
  }
    
  .#{$marginKey}x#{$separator}#{$sizeKey} {
    margin-left: $sizeValue;
    margin-right: $sizeValue;
  }
    
  .#{$paddingKey}x#{$separator}#{$sizeKey} {
    padding-left: $sizeValue;
    padding-right: $sizeValue;
  }

  .#{$marginKey}y#{$separator}#{$sizeKey} {
    margin-top: $sizeValue;
    margin-bottom: $sizeValue;
  }

  .#{$paddingKey}y#{$separator}#{$sizeKey} {
    padding-top: $sizeValue;
    padding-bottom: $sizeValue;
  }

  @each $position in $positions {
    $posKey: nth($position, 1);
    $posValue: nth($position, 2);
    .#{$marginKey}#{$posKey}#{$separator}#{$sizeKey} {
      margin-#{$posValue}: $sizeValue;
    }
    .#{$paddingKey}#{$posKey}#{$separator}#{$sizeKey} {
      padding-#{$posValue}: $sizeValue;
    }
  }
}

@each $breakpoint in $grid-breakpoints {
  $breakpointKey: nth($breakpoint, 1);
  $breakpointValue: nth($breakpoint, 2);
  @media (min-width: $breakpointValue) {
    @each $size in $sizes {
      $sizeKey: nth($size, 1);
      $sizeValue: nth($size, 2);

      .#{$marginKey}#{$separator}#{$breakpointKey}#{$separator}#{$sizeKey} {
        margin: $sizeValue;
      }

      .#{$paddingKey}#{$separator}#{$breakpointKey}#{$separator}#{$sizeKey} {
        padding: $sizeValue;
      }
 
      .#{$marginKey}x#{$separator}#{$breakpointKey}#{$separator}#{$sizeKey} {
        margin-left: $sizeValue;
        margin-right: $sizeValue;
      }

      .#{$paddingKey}x#{$separator}#{$breakpointKey}#{$separator}#{$sizeKey} {
        padding-left: $sizeValue;
        padding-right: $sizeValue;
      }

      .#{$marginKey}y#{$separator}#{$breakpointKey}#{$separator}#{$sizeKey} {
        margin-top: $sizeValue;
        margin-bottom: $sizeValue;
      }

      .#{$paddingKey}y#{$separator}#{$breakpointKey}#{$separator}#{$sizeKey} {
        padding-top: $sizeValue;
        padding-bottom: $sizeValue;
      }

      @each $position in $positions {
        $posKey: nth($position, 1);
        $posValue: nth($position, 2);
        .#{$marginKey}#{$posKey}#{$separator}#{$breakpointKey}#{$separator}#{$sizeKey} {
          margin-#{$posValue}: $sizeValue;
        }
        .#{$paddingKey}#{$posKey}#{$separator}#{$breakpointKey}#{$separator}#{$sizeKey} {
          padding-#{$posValue}: $sizeValue;
        }
      }
    }
  }
}
